.custom-form {
    margin: 0 auto;
    width: 340px;
}

.custom-form input {
    float: right;
}

.custom-form select {
    float: right;
    width: 174px;
    height: 26px;
}

.custom-message {
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

.index-style {
    width: 50%;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.bottom-text {
    margin: 0 auto;
    width: 600px;
    margin-top: 80px;

}



