{% extends 'main_template.html' %}
{% load static %}

{% block head_includes %}

    <!-- Zabuto Calendar -->
    <link rel="stylesheet" type="text/css" href="{% static 'zabuto-calendar/zabuto_calendar.min.css' %}">
    <script src="{% static 'zabuto-calendar/zabuto_calendar.min.js' %}"></script>

{% endblock %}

{% block content %}
    <form action="{% url 'display_reservation_list' %}" method="post" class="custom-form" novalidate>
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                    {% if field.errors %}{{ field.label_tag }} {{ field.errors }} {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Submit"/>
    </form>

    <div id="my-calendar"></div>

{% endblock %}

{% block footer_includes %}
    <script type="application/javascript">
        var eventData = [{% for e in dates %} {'date': "{{e}}"},
            {% endfor %}{% for e in dates2 %} {'date': "{{e}}", "badge": true}, {% endfor %}];
        $(document).ready(function () {
            $("#my-calendar").zabuto_calendar({
                language: "en",
                legend: [
                    {type: "block", label: "available", classname: "grade-2"},
                    {type: "spacer"},
                    {type: "block", label: "reserved", classname: "grade-1"},
                    {type: "spacer"},
                ],
                data: eventData,
                month: {{ month }},
                year: {{ year }},
                weekstartson : 0
            });
        });
    </script>
    <style>
        .grade-1 {
            background-color: #ff9b08;
        }

        .grade-2 {
            background-color: #fff0c3;
        }
    </style>
{% endblock %}
