{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8">
    <title>{% block title %}Tittle{% endblock %}</title>
    <meta charset="UTF-8">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom_css.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>


    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({dateFormat: 'yy-mm-dd'});
        });
    </script>

    {% block head_includes %}
    {% endblock %}

</head>

<body>
{#navigation bar#}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'add_city' %}">Add a City</a></li>
            <li><a href="{% url 'add_flat' %}">Add a flat</a></li>
            <li><a href="{% url 'display_reservation_list' %}">Reservation board for flats</a></li>
        </ul>
    </div>
</nav>

{% block content %}
{% endblock %}

{% block footer_includes %}
{% endblock %}

</body>

</html>